.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root {
    background: wheat;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.calculator--container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 90vh;
    width: 400px;
    background: black;
}

.screen--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen-bottom, .screen-top {
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen-top {
    color: #9e9e9e;
    font-size: 40px;
    width: 100%;
    min-height: 55px;
    align-self: center;
}

.screen-bottom {
    font-size: 150px;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    align-self: center;
}

.keypad {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.block {
    flex: 1;
    display: flex;
}

.btn {
    flex: 1;
    border-radius: 20px;
    margin: 5px;
    border: none;
    background: #171717;
    color: white;
    font-size: 45px;
    min-width: 90px;
    max-width: 90px;
    outline: none;
    cursor: pointer;
}

.btn--double {
    flex: 2;
    border-radius: 20px;
    align-items: flex-end;
    min-width: 190px;
    max-width: 190px;
    justify-content: center;
    display: flex;
}

.btn--orange {
    background: #e48800;
}

.btn--grey {
    background: #9e9e9e;
    color: black;
}

@media all and (max-width: 530px) {
    .btn {
        font-size: 32px;
        min-width: 80px;
        max-width: 80px;
    }

    .calculator--container {
        width: 360px;
    }

    .btn--zero {
        min-width: 170px;
        max-width: 170px;
    }

    .keypad {
        flex: 0.6 0.5;
    }
}

@media all and (max-width: 420px) {
    .btn {
        font-size: 25px;
    }
}

@media all and (max-width: 400px) {
    .btn {
        font-size: 32px;
        min-width: 60px;
        max-width: 60px;
    }

    .calculator--container {
        width: 280px;
    }

    .btn--zero {
        min-width: 130px;
        max-width: 130px;
    }
}